# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Stage - UI Automation

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule: 
    - cron: 0 12 * * 1-5 # At 05:30 on every day-of-week from Monday through Friday

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 8
      uses: actions/setup-java@v2
      with:
        java-version: '8'
        distribution: 'temurin'
#     - name: Build with Gradle
#       uses: gradle/gradle-build-action@4137be6a8bf7d7133955359dbd952c0ca73b1021
#       with:
#         arguments: build
#     - name: Install Google Chrome # Using shell script to install Google Chrome
#       run: |
#        chmod +x ./scripts/InstallChrome.sh
#         ./scripts/InstallChrome.sh
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew # give permission to Gradle to run the commands
    - name: Build with Gradle
      run: ./gradlew test --info # Run our tests using Gradle
